<h1> Importeren Cursussen</h1>
<form method="post" asp-action="Importeren" asp-controller="Cursus" enctype="multipart/form-data">
    <input type="file" name="file"/>
    <input type="submit" value="Importeren" class="btn btn-default" />
</form>