<h1>Meld auto klaar</h1>
<form class="" asp-action="Toevoegen" asp-controller="OnderhoudsOpdrachten" method="post">
    <div class="row">
        <div class="form-group col-sm-6">
            <label for="klant-voorletter">Klantnaam:</label>
            <input type="text" class="form-control" id="klant-naam" name="klantnaam" placeholder="Naam" required>
            <br />
            <label for="auto-kenteken">Telefoonnummer</label>
            <input type="text" class="form-control" id="auto-kenteken" name="telefoonnummer" placeholder="Kenteken" required>
            <br />
            <label for="auto-kenteken">Kenteken auto:</label>
            <input type="text" class="form-control" id="auto-kenteken" name="kenteken" placeholder="Kenteken" required>
            <br />
            <label for="auto-kilometerstand">Kilometerstand:</label>
            <input type="number" class="form-control" id="auto-kilometerstand" name="kilometerstand" placeholder="Kilometerstand" required>
        </div>
        <div class="form-group col-sm-6">
            <label for="opdracht-omschrijving">Opdrachtomschrijving:</label>
            <textarea class="form-control" id="opdracht-omschrijving" style="height:180px;" name="opdrachtomschrijving" placeholder="Opdrachtomschrijving"></textarea>
            <br /> 
            <input type="checkbox" name="apk" value="true" /> Dit is een apk keuring
        </div>
        <div class="form-group col-sm-6">
            <button type="submit" class="btn btn-primary">Toevoegen</button>
        </div>
    </div>
</form>