@model Minor.Dag39.SpellenOefening.FronendService.Facade.ViewModels.StartGameViewModel
<br />
<br />
<br />
<br />

<div>
    <form method="post">
        <h2> Players </h2>
        <input asp-for="Player1" class="form-control" type="text" placeholder="player1">
        <input asp-for="Player2" class="form-control" type="text" placeholder="player2">
        <input asp-for="Player3" class="form-control" type="text" placeholder="player3">
        <br />
        <input type="submit" value="Start Game" class="btn btn-block bg-success"> 
    </form>
    
</div>