@{
    ViewData["Title"] = "Oeps";
}
<div class="container">
    <h1>Oeps!</h1>
    <p>Er is een fout opgetreden tijdens het proces, neem contact op met de appilicatiebeheerders.</p>
    <p>Wees voorzichting met deze geweldige personen, je hebt ze hard nodig bij dit soort momenten!!</p>
    <p>De applicatiebeheerders willen graag weten hoe ze deze fout kunnen reproduceren en de datum/tijd van de fout</p>
</div>