@{
    ViewData["Title"] = "Bestelling";
}
<div class="container">
    <h1>Pauze</h1>
    <p>U komt op deze pagina als er geen bestellingen meer zijn of als u heeft aangegeven dat u klaar bent met orderpicken.</p>
    <a asp-controller="Intranet" asp-action="Index" class="btn btn-success">Volgende bestelling picken</a>
</div>